:root {
  //colors
  --color-primary: rgb(244, 47, 44);
  --color-text: rgb(33, 32, 37);
  --color-grey: rgb(119, 119, 119);
  --color-grey-dark: rgb(47, 49, 51);
  --color-white: #fff;

  //FONTS
  --font-default: "Poppins", sans-serif;
  --font-heading: "Josefin Sans", sans-serif;
}
