body {
  line-height: 1.6;
  font-family: var(--font-default);
  color: var(--color-text);
}

p,
a,
span {
  font-family: var(--font-default);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  line-height: 1.3;
}
